.home {
  display: flex;

  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  background-image: url(https://img.freepik.com/free-photo/two-golden-retriever-puppies-wearing-scarves_53876-64805.jpg?w=740&t=st=1680461114~exp=1680461714~hmac=1d818447f4c3fa3b88fc6b9dd1853f93dc97f06fdbb40cf1751abd917173aa5b);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-content {
  text-align: center;
  justify-content: left;
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: inherit;
  font-family: "Arial Unicode MS";

}

.home-content {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0;
}

.btn-book {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  color: #fff;
  background-color: #ff5500; /* new background color */
  transition: background-color 0.3s ease;
}

.btn-book:hover {
  background-color: #ff7700; /* new background color on hover */
}
