/* 
.App {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
   
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  

  .btn{
    margin: 2px;
  
  }
  .divbtn{
    float: left;
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FBA633 ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
  }
  
  .navbar-brand {
    color: #333333;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: white;
    background-color: blue;
    padding: 0px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
  }
    */

    .App {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
    header {
      background-color: #ffffff;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
    
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0 20px;
      background-color: #ffffff;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    .navbar-brand {
      font-size: 32px;
      color: #333333;
      text-decoration: none;
    }
    
    .nav-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
    }
    
    .nav-links a {
      color: #333333;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    
    .nav-links a:hover {
      color: #ffffff;
      background-color: #333333;
    }
    
    button {
      color: #333333;
      background-color: transparent;
      border: none;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    button:hover {
      color: #ffffff;
      background-color: #333333;
      border-radius: 5px;
      padding: 10px 20px;
    }
    
    main {
      flex-grow: 1;
      padding: 20px;
    }
    