.home{
  background-image: url("https://img.freepik.com/free-photo/beautiful-shot-two-dogs-standing-upright-dancing-together-beach_181624-43099.jpg?w=740&t=st=1680186825~exp=1680187425~hmac=8a2d760acc480ec28997d18128bfe86bb53f76b90dc38a92e467b08c33c10ed2");
  background-size: cover;
  height: 90vh;
  width: 100vw;
  
}
#karibu{
  font-size: 60px;
  

}
.home-content {
  padding: 8% 2%;
}
.home-content > p{
  font-size: 25px;
 
}
/* .container {
 
    margin: 0 auto;
    padding: 20px;
    
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .welcome-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .login-message {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
  }
   */