
.petd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Card styles */
  .carded {
    width: 70%;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Card header styles */
  .card-header {
   
    color: black;
    padding: 1rem;
    text-decoration: wavy;
  }
  
  /* Card body styles */
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }
  .card-body h4{
    font-weight: bolder;
  }
  
  /* Image styles */
  .body-rounded {
    border-radius: 50%;
    float: right;
    margin-left: 2rem;
    width: 200px;
    height: 200px;
  }
  
  /* Title styles */
  .title-pet {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 50px;
    text-align: center;
  }
  #welcome{
    font-family: monospace;
    text-decoration: underline;
  }
  
  /* Button styles */
  .btns-back {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: aqua;
    color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }
  
  .btns-back:hover {
    background-color: #0069d9;
  }
  
  /* Card appointment styles */
  .card-appointment {
    margin-top: 2rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-appointment .card-body {
    padding: 1rem;
  }
  
  /* Delete button styles */
  .btn-appointment {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }
  
  .btn-appointment:hover {
    background-color: #c82333;
  }
  
  /* No appointments message styles */
  .no-appointments {
    margin-top: 1rem;
    color: #868e96;
  }
  