.pet-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px; /* set a fixed width for the card */
}

.pet-card__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-card__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.pet-card__content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
}

.pet-card__name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.pet-card__breed {
  font-size: 16px;
  margin: 0;
}

.pet-card__description {
  margin: 10px 0;
  font-size: 14px;
}

.pet-card__medical-history {
  margin: 10px 0;
  font-size: 14px;
}

.pet-card__age {
  margin: 10px 0;
  font-size: 14px;
}

.pet-card__button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pet-card__button {
  padding: 5px 10px; /* reduce button padding */
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 14px; /* reduce button font size */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pet-card__delete-button {
  background-color: #ff6347;
}

.pet-card__update-button {
  background-color: #6495ed;
  margin-left: 10px;
}

.pet-card__link-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pet-card__appointments-button {
  background-color: #87ceeb;
  padding: 5px 10px; /* reduce button padding */
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 14px; /* reduce button font size */
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pet-card__appointments-button:hover,
.pet-card__button:hover {
  transform: scale(1.1);
}
